<h1>Welcome, <%=@users.first_name %> <%= @users.last_name %>!</h1>


  <div class="row">
  <div class="col-md-offset-1 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title"> <a href = "/users/<%= @users.id %>"> My Info </a>
          </h5>
        </div>

        <div class="panel-body">
          <ul class="media-list">
            <li class="media">
            <div class="media-body">
              <h5 class="media-heading">
                HI
              </h5>
            </div>
          </li>
          </ul>
        </div>

      </div>
    </div>
  </div>


<div class="row">
  <div class="col-md-offset-1 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title"> <a href = "/users/<%= @users.id %>"> Trip Info</a>
        </h5>
      </div>

      <div class="panel-body">
        <ul class="media-list">
          <li class="media">
          <div class="media-body">
            <h5 class="media-heading">
              HI
            </h5>

          </div>
        </li>
        </ul>
      </div>
    </div>
  </div>
</div>
