<div class="container-fluid">
<div><h1 class="centered">About Booth Ski & Snowboard Club</h1></div>

<div class="row">
  <div class="col-md-6 text-center padding-inside-top-md padding-inside-bottom-md">
    <img src="assets/BoothSTLogo.jpg" class="bssc-logo">
  </div>
    <div class="col-md-6 padding-inside-top-lg padding-inside-bottom-xs">
      <td colspan="6">
        <p>Text</p>
      </td>
    </div>
  </div>

  <div class="col-md-6 text-center padding-inside-top-md padding-inside-bottom-md">
    <img src="assets/cochairs.JPG" class="cochair-image">
  </div>

<!-- <div class="row"><img src="assets/BoothSTLogo.jpg" alt="" class="img-responsive about-image"/></div> -->
