<div class="container-fluid">
<div><h1 class="centered">About Booth Ski & Snowboard Club</h1></div>

<div class="row">
  <div class="col-md-6 text-center padding-inside-top-md padding-inside-bottom-md">
    <img src="assets/BoothSTLogo.jpg" class="bssc-logo">
  </div>
    <div class="col-md-6 padding-inside-top-lg padding-inside-bottom-xs">
      <td colspan="6">
        <p>Foodhub helps you find and order food from wherever you are. How it works: you type in an address, we tell you the restaurants that deliver to that locale as well as showing you droves of pickup restaurants near you. Want to be more specific? Search by cuisine, restaurant name or menu item. We'll filter your results accordingly. When you find what you're looking for, you can place your order online or by phone, free of charge. Oh, and we also give you access to reviews, coupons, special deals and a 24/7 customer care team that tracks each order and makes sure you get exactly what you want.</p>
      </td>
    </div>
  </div>

  <div class="col-md-6 text-center padding-inside-top-md padding-inside-bottom-md">
    <img src="assets/cochairs.JPG" class="cochair-image">
  </div>

<!-- <div class="row"><img src="assets/BoothSTLogo.jpg" alt="" class="img-responsive about-image"/></div> -->
