<body class="home-img home-background">
<div class="container-fluid">
    <div class="row hero">
  </div>

  <div class="row"><!--take your docs-->
        <div class="row text-center padding-inside-top-sm">
    <div class="col-xs-12">
      <h2>
      Welcome to Booth Ski & Snowboard Club
      </h2>

      <p>
        We're stoked to bring BSSC to Telluride, CO and Whistler, BC during the 2016/2017 season!
      </p>
    </div>
  </div>
  <div class="row text-center padding-inside-bottom-md">
    <div class="col-md-4 padding-inside-top-sm">
      <a href="http://www.tellurideskiresort.com/"><img src="https://www.telluridegayski.com/2016/wp-content/uploads/2015/11/telluride-ski-resort-logo2-min.png" class="spotlight-image padding-inside-top-sm"></a>

      <h4>
        December 10-16, 2016
      </h4>

      <p>
      <!-- text -->
      </p>
    </div>

    <div class="col-md-4 padding-inside-top-md">
      <img src="assets/old-logo.png" class="bssc-logo">
    </div>

    <div class="col-md-4 padding-inside-top-sm">
      <a href="http://www.whistlerblackcomb.com/"><img src="http://saminfo.com/sites/saminfo.com/files/website/whistler_blackcomb_logo.png" class="spotlight-image padding-inside-top-md"></a>

      <h4>
        February 25-27, 2017
      </h4>

      <p>
<!-- text -->
      </p>
    </div>
  </div>

    </div>

  </div>
</body>
